:root[data-theme="light"] {
  --text: #233736;
  --background: #f1f2ec;
  --primary: #4fc986;
  --secondary: #78938a;
  --accent: #7e6c53;
}
:root[data-theme="dark"] {
  --text: #f5faf7;
  --background: #030805;
  --primary: #36b06d;
  --secondary: #1a6b3d;
  --accent: #1c9c55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: initial;
  min-height: initial;
}
body {
  /* padding: 1rem ; */
  background-color: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: var(--background);
}
nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  z-index: 1;
  border-radius: 1rem;
}
button {
  background-color: var(--accent);
  border: none;
  padding: 0.5rem 1rem;
}

input {
  background-color: var(--background);
  border: none;
  padding: 0.5rem 1rem;
}
img {
  max-width: 100%;
  height: auto;
}


/* @media (min-width: 1024px) {
  .book img:first-child {
    float: left;
  width:  100%;
  height: 150px;
  object-fit: cover;
  }
} */
