#favorite-books{
    padding: 3rem 1rem;
    /* background-color: var(--secondary); */

}
.search-result h2{
    text-align: center;
}

#favorite-books {
    min-height: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    #favorite-books {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
    #favorite-books {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    
}
