#favorite-books{
    padding: 1rem 2rem;
    /* background-color: var(--secondary); */
}
.search-result h2{
    text-align: center;
}

#favorite-books {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: .5rem;

}
#favorite-books h3{
    color: var(--text);
}
#favorite-books .book{
    background-color: var(--background);
    
}

@media (min-width: 768px) {
    #favorite-books {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}
@media (min-width: 1024px) {
    #favorite-books {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    
}
