header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 20vh;
    position: relative;

}

.search-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem;
    background-color: var(--primary);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--text);
}
.search-header h1{
  color: var(--text);
}
.search-header a{
  color: var(--text);
  font-weight: bold;
}
.isbn-formula {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
summary::marker{
    color: rgb(206, 255, 109);

}
mark{
  background-color: var(--secondary);
}

details[open]{
    background-color: var(--background);
    padding: 1rem;
    border-radius: .5rem;
}


.isbn-dropdown{
    font-style: italic;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

}
#google-sign-in-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}
#google-sign-in-button button{
  border-radius: 1rem;
}
.google-btn{
  background-color: var(--background);
  color: var(--text);
}


@media (min-width: 1024px) {
    header{
        margin: 0 20%;
        
    }
}

@keyframes drop {
    0% {
      transform-origin: top;
      transform: scaleY(0);
    }
    100% {
      transform-origin: top;
      transform: scaleY(1);
    }
}

@keyframes up {
    0% {
      transform-origin: top;
      transform: scaleY(0);
    }
    25% {
      transform-origin: top;
      transform: scaleY(1);
    }
    75% {
      transform-origin: bottom;
      transform: scaleY(1);
    }
    100% {
      transform-origin: bottom;
      transform: scaleY(0);
    }
}