:root[data-theme="light"] {
  --text: #233736;
  --background: #F1F2EC;
  --primary: #4fc986;
  --secondary: #78938A;
  --accent: #7E6C53;
}
:root[data-theme="dark"] {
  --text: #f5faf7;
  --background: #030805;
  --primary: #36b06d;
  --secondary: #1a6b3d;
  --accent: #1c9c55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: initial;
  min-height: initial;
}
body {
  /* padding: 1rem ; */
  background-color: var(--background);
  color: var(--text);
}
a{
  color: var(--primary);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 1;
}
button {
  background-color: var(--accent);
  border: none;
  padding: .5rem 1rem;
}
input {
  background-color: var(--background);
  border: none;
  padding: .5rem 1rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-height: 50vh;
  max-width: 100vw;
}

.search-result,
.book-info {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}
/* .book-info{
    width: 50%;
} */
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  background-color: var(--secondary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
  border-radius: 20px;
  max-width: 100%;
}
#related-book .book {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
  background-color: var(--background);
  color: var(--text);
  /* border: #030805 1px solid; */
}


.search-result {
  width: 100%;
  min-height: 100vh;
}
.search-result h2 {
  margin: 2rem;
}
#matched-book {
  background-color: var(--text);
}
#matched-book h2 {
  text-align: center;
  color: var(--text);
  padding-bottom: 1rem;
}
#matched-book,
#related-book {
  min-height: 30%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: .5rem;
  padding: 3rem 1rem;
}
/* #matched-book > *:only-child, #related-book > *:only-child {
    grid-column: 1 / -1;
    justify-self: center;
} */
@media (min-width: 768px) {
  #matched-book,
  #related-book {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  #matched-book,
  #related-book {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.info-container {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 0 1rem;
}
.info-container h3 {
  color: var(--background);
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
#related-book h3 {
  color: var(--text);

}
/* author */
.info-container i {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
.book .image-container {
  position: relative;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.language-flag {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  max-width: 30%;
  height: auto;
}
